{
    "rules": {
        "no-undefined": "error",
        "semi": "warn"
    },
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    }
}