<!doctype html>
<html>

<head>
</head>

<body>
    Poker room
    <%=roomId%>

        <script>
            const roomId = '<%=roomId%>'
        </script>
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/poker.js"></script>
</body>

</html>