<!doctype html>
<html>

<head>
</head>

<body>
    <h1>Poker room</h1>
    <h2>
        <%=roomId%>
    </h2>

    <form id="login">
        <input type="text" name="username" />
        <button type="submit" value="login">Login</button>
    </form>

    <script>
        const roomId = '<%=roomId%>'
    </script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/poker.js"></script>
</body>

</html>