.card {
  height: 145px;
  width: 100px;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin: auto;
}

.card.selected {
  background-color: yellow;
}

.card.card-1 {
  background-image: url(/cards/1H.svg);
}
.card.card-2 {
  background-image: url(/cards/2H.svg);
}
.card.card-3 {
  background-image: url(/cards/3H.svg);
}
.card.card-5 {
  background-image: url(/cards/5H.svg);
}
.card.card-8 {
  background-image: url(/cards/8H.svg);
}
.card.card-13 {
  background-image: url(/cards/13H.svg);
}

.field {
  color: white;
  display: flex;
  background-color: green;
}

.placeholder-outer {
  text-align: center;
}

.placeholder {
  border: 5px solid white;
  border-radius: 10px;
  width: 115px;
  height: 160px;
  display: flex;
}

.placeholder + figcaption {
  font-family: 'Pacifico', cursive;
  font-size: 24px;
}